body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.nav {
  color: white;
}

#logo {
  color: white;
}

.section {
  height: 29em;
  width: 100%;
}

.jumbotron {
  background: url(http://img03.deviantart.net/db0b/i/2005/045/b/0/flying_through_space_by_alienpickles.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9
}

.inner-jumbotron {
  margin-top: 2em;

}

#robot {
  opacity: .8;
  width: 85%;
}

.headline h2 {
  font-size: 4.9em;
  color: white;
  font-family: 'Monda', sans-serif;
  line-height: 1.2em;
  opacity: .9;
  text-align: right;
  padding-top: .2em;
  padding-right: .5em;
  padding-left: .5em;
}

#try-it {
  width: 35%;
  margin: 0;
  margin-top: 1.2em;
  height: 2em;
  font-size: 1em;
  font-family: 'Monda', sans-serif;
}

.about {
  font-size: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 1em;
  line-height: 2em;
}
